table td {
  padding: 0px 8px;
}
table th {
  padding: 0px 8px;
  text-align: left;
}

a {
  font-size: 9pt;
  text-decoration: underline;
  margin-left: 5px;
}
a:hover {
  cursor: pointer;
  color: blue;
}

